MONGO_URI=mongodb+srv://yashdargad:9156647056@cluster0.tmiudie.mongodb.net/?appName=Cluster0
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=yashdargadpartur1@gmail.com@gmail.com
SMTP_PASS=pxqr yqzf qjbx ndnu
